@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Gooseware/cadeauAssets@master/fonts/Apercu.ttf") format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
}
@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Gooseware/cadeauAssets@master/fonts/Apercu%20Italic.ttf") format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Gooseware/cadeauAssets@master/fonts/Apercu%20Medium.ttf") format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
}
@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Gooseware/cadeauAssets@master/fonts/Apercu%20Bold.ttf") format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
}
@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Gooseware/cadeauAssets@master/fonts/Apercu%20Bold%20Italic.ttf") format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Apercu";
  src: url("https://cdn.jsdelivr.net/gh/Gooseware/cadeauAssets@master/fonts/Apercu%20Light.ttf") format('truetype');
  font-weight: 200;
}
body {
  font-family: "Apercu", Times, serif;
  padding: 0;
  margin: 0;
  background: #013b51;
  color: #d0af95;
  font-size: 200%;
}
a {
  color: #d0af95;
}
a:hover {
  color: #d0af95;
}
.App__logo--2wMjS {
  object-fit: contain;
  width: calc(100vw - 80px);
  max-width: 500px;
}
.App__logoBottom--1EtUe {
  object-fit: contain;
  width: calc(100vw - 80px);
  max-width: 200px;
  margin: 0 auto;
}
.App__item--C8pUF {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.App__itemScroll--2-owK {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
.App__button--20ndb {
  border: 2px solid #d0af95;
  font-weight: 500;
  border-radius: 40px;
  text-decoration: none;
  padding: 19px 37px;
}
.App__button--20ndb:hover {
  text-decoration: none;
}
.App__medium--3B333 {
  font-weight: 500;
}
.App__socialMedia---uyx2 {
  width: 70px;
  object-fit: contain;
}
@media all and (max-width: 900px) {
  .App__socialMedia---uyx2 {
    width: 30px;
  }
}
.App__socialLayout--2adSt {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App__socialLayout--2adSt > div:first-of-type {
  padding-right: 20px;
}

@-moz-keyframes Loading__fade-Foo--zQY81 {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@-webkit-keyframes Loading__fade-Foo--zQY81 {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@-o-keyframes Loading__fade-Foo--zQY81 {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@keyframes Loading__fade-Foo--zQY81 {
  0% {
    background: #eb4e91;
  }
  100% {
    background: #800080;
  }
}
@-moz-keyframes Loading__fade-Bar--2lL-g {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@-webkit-keyframes Loading__fade-Bar--2lL-g {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@-o-keyframes Loading__fade-Bar--2lL-g {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@keyframes Loading__fade-Bar--2lL-g {
  0% {
    background: #800080;
  }
  100% {
    background: #ff5400;
  }
}
@-moz-keyframes Loading__fade-Baz--4tdPE {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@-webkit-keyframes Loading__fade-Baz--4tdPE {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@-o-keyframes Loading__fade-Baz--4tdPE {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@keyframes Loading__fade-Baz--4tdPE {
  0% {
    background: #ff5400;
  }
  100% {
    background: #008000;
  }
}
@-moz-keyframes Loading__fade-Rudy--1Uh0e {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@-webkit-keyframes Loading__fade-Rudy--1Uh0e {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@-o-keyframes Loading__fade-Rudy--1Uh0e {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@keyframes Loading__fade-Rudy--1Uh0e {
  0% {
    background: #008000;
  }
  100% {
    background: #ffbe00;
  }
}
@-moz-keyframes Loading__fade-Example--1i_lJ {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@-webkit-keyframes Loading__fade-Example--1i_lJ {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@-o-keyframes Loading__fade-Example--1i_lJ {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@keyframes Loading__fade-Example--1i_lJ {
  0% {
    background: #ffbe00;
  }
  100% {
    background: #008080;
  }
}
@-moz-keyframes Loading__fade-ReduxFirstRouter--3Ruph {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@-webkit-keyframes Loading__fade-ReduxFirstRouter--3Ruph {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@-o-keyframes Loading__fade-ReduxFirstRouter--3Ruph {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@keyframes Loading__fade-ReduxFirstRouter--3Ruph {
  0% {
    background: #008080;
  }
  100% {
    background: #00f;
  }
}
@-moz-keyframes Loading__fade-Universal--1ju0i {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@-webkit-keyframes Loading__fade-Universal--1ju0i {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@-o-keyframes Loading__fade-Universal--1ju0i {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@keyframes Loading__fade-Universal--1ju0i {
  0% {
    background: #00f;
  }
  100% {
    background: #000;
  }
}
@-moz-keyframes Loading__fade-FaceySpacey--3bzqE {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
@-webkit-keyframes Loading__fade-FaceySpacey--3bzqE {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
@-o-keyframes Loading__fade-FaceySpacey--3bzqE {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
@keyframes Loading__fade-FaceySpacey--3bzqE {
  0% {
    background: #000;
  }
  100% {
    background: #eb4e91;
  }
}
.Loading__Foo--19wsh {
  animation: Loading__fade-Foo--zQY81 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__Bar--2CNk6 {
  animation: Loading__fade-Bar--2lL-g 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__Baz--1Ogq_ {
  animation: Loading__fade-Baz--4tdPE 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__Rudy--14fup {
  animation: Loading__fade-Rudy--1Uh0e 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__Example--2_6x- {
  animation: Loading__fade-Example--1i_lJ 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__ReduxFirstRouter--2GRtn {
  animation: Loading__fade-ReduxFirstRouter--3Ruph 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__Universal--2rG8S {
  animation: Loading__fade-Universal--1ju0i 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__FaceySpacey--1LcC4 {
  animation: Loading__fade-FaceySpacey--3bzqE 1.2s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.Loading__spinner--23XF9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Loading__spinner--23XF9 div {
  position: relative;
  width: 11em;
  height: 11em;
  margin: 50px auto;
  font-size: 10px;
  text-indent: -9999em;
  background: #141414;
  border-radius: 50%;
  box-sizing: border-box;
  background: linear-gradient(to right, #dcdcdc 10%, rgba(55,55,55,0) 42%);
  animation: Loading__spin--3IDJM 1.4s infinite linear;
  transform: translateZ(0);
}
.Loading__spinner--23XF9 div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: #dcdcdc;
  border-radius: 100% 0 0 0;
}
.Loading__spinner--23XF9 div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  margin: auto;
  background: #fff;
  border-radius: 50%;
}
@-moz-keyframes Loading__spin--3IDJM {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes Loading__spin--3IDJM {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes Loading__spin--3IDJM {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Loading__spin--3IDJM {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.NotFound__container--2k0Pn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f00;
}
.NotFound__container--2k0Pn span {
  color: rgba(255,255,255,0.5);
  font-size: 32px;
}


/*# sourceMappingURL=main.css.map*/